@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

*{
  padding: 0;
  margin: 0;
  font-family: 'Cabin', sans-serif;

}

body {
    background: #f06d06;
    color: white;
    text-align: center;
  }

  ul{
    padding: 0;
    list-style: none;
  }
  img{
    height: auto;
    width: 300px;
    padding: 0px;
  }

  button{
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border: 0 solid;
    cursor: pointer;
    margin: auto;

  }
  button:hover{
    background-color: black;
    color: #f06d02;
  }
  #name{
    font-size: 1.2em; 
  }

  .homePage{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
  }

  .gamePage
  {
    display: none;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }

  .gamePlay{
    display: none;
  }

  #grid{
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(7, 1fr);
  }

  .row
  {
    display: flex;
    flex-direction: row;
  }

  .tile{
    width: 60px;
    height: 60px;
    border: 1px solid black;
    cursor: pointer;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 31px;
}

.img {
  width: 40px;
  height: 40px;
}

#gameinfo{
  justify-content: center;
  align-items: center;
}

#restart_btn{
  display: none;
}

h1
{
  font-style: oblique;
  letter-spacing: 1.5px;
}

h3{
  font-size: 31px;
  color: rgb(26, 67, 26);
}